.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  background-color: white;
  box-shadow: 2px 2px 50px rgb(204, 204, 204);
  overflow: scroll;
  transform: translateX(-100%);
  transition: all 0.5s ease;
  opacity: 0;
  h2 {
    padding: 2rem;
  }
}

.library-song {
  display: flex;
  align-items: center;
  //   flex-direction: column;
  padding: 1rem 2rem 1rem 2rem;
  cursor: pointer;
  transition: background 0.5s ease;
  img {
    width: 40%;
  }
  &:hover {
    background: rgb(222, 222, 255);
  }
}

.song-description {
  padding: 1rem;
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 0.7rem;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transpaent;
}
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar- {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border: 20px;
  border: transparent;
}

.selected {
  background-color: rgb(145, 165, 218);
}
.active-library {
  transform: translateX(0);
  opacity: 1;
}
@media screen and(max-width:768px) {
  .library {
    width: 100%;
  }
}
